{% import "macros/mediawiki.j2" as mw %}
{% extends "components/list_item.j2" %}

{% block classes %}
 wiki-list-item-event
{% endblock %}

{% block title %}
{{ mw.parameter("title") }}
{% endblock %}

{% block meta %}
{{ mw.parameter("dateStart") }}
{% endblock %}

{% block content %}
{{ mw.parameter("place") }}
{% endblock %}
