{% import "macros/mediawiki.j2" as mw %}
{% extends "components/list_item.j2" %}

{% block classes %}
 wiki-list-item-page
{% endblock %}

{% block title %}
{{ mw.parameter("title") }}
{% endblock %}

{% block content %}
<div class="wiki-list-item-excerpt">
    {{ mw.parameter("content") }}
</div>
{% endblock %}
