{% import "macros/mediawiki.j2" as mw %}
{% extends "components/card.j2" %}

{% block classes %}
 wiki-card-event
{% endblock %}

{% block title %}
<div class="wiki-card-title">
    {{ mw.parameter("title") }}
</div>
{% endblock %}

{% block meta %}
<div class="wiki-card-meta">
{% if true %}
    {{ mw.parameter("date") }}
{% endif %}
</div>
{% endblock %}

{% block content %}
{{ mw.parameter("description") }}

{{ mw.parameter("place") }}
{% endblock %}
