{% import "macros/mediawiki.j2" as mw %}
{% extends "components/card.j2" %}

{% block classes %}
 wiki-card-location
{% endblock %}

{% block content %}

{{ '{{#if:' ~ mw.parameter("coordinates") ~ '|<div class="wiki-location-map">{{#display_map:' ~ mw.parameter("coordinates") ~ '|height=180px|width=100%|zoom=13}}</div>' ~ '}}' }}

{{ '{{#if:' ~ mw.parameter("address") ~ '|<div class="wiki-address">' ~ mw.parameter("address") ~ '</div>' ~ '}}' }}

{% endblock %}
