{% import "macros/mediawiki.j2" as mw %}

<div class="wiki-location-map">
{{ '{{#display_map:' ~ mw.parameter("coordinates") ~ '|height=' ~ mw.parameter("height") ~ '|width=' ~ mw.parameter("width") ~ '|zoom=' ~ mw.parameter("zoom") ~ '}}' }}
</div>
