{{{headdata}}}
<div id="app"></div>

<div id="mediawiki-raw-holder" style="display: none;">
    <div id="bodyContent" class="mw-body-content">
        {{{html-bodytext}}}
    </div>
    <div id="wiki-reporttime">{{{html-reporttime}}}</div>
</div>

