{{ model.description or "" }}

{% if 'coordinates' in model.properties %}
<div data-widget="ContentMap" data-props='{
    "query": {
        "categories":["{{ view.model.category.name }}"],
        "printouts":["coordinates=coordinates"],
        "extracts": true
    }
}'>
</div>
{% endif %}

