{% import "weaver/macros.j2" as weaver %}
<noinclude>
Ceci est le formulaire « {{ model.label }} »{% if model.description %}({{ model.description }}){% endif %}.

Pour créer une page avec ce formulaire, entrez le nom de la page ci-dessous ;
si une page existe déjà sous ce nom, vous serez dirigé vers un formulaire pour la modifier.
{{ '{{#forminput:form=' }}{{ model.name }}{{ '}}' }}

</noinclude><includeonly>
<div id="wikiPreview" style="display: none; padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #AAAAAA;"></div>

{{ '{{{for template|' }}{{ model.name }}{{ '}}}' }}

{% for group in groups %}

{% if group.label %}
=== {{ group.label }} ===
{% endif %}

{| class="formtable"
{% for property in group.properties %}
|-
! {{ property.label }}:
| {{ weaver.pf_field(property) }}
{% endfor %}
|}

{% endfor %}

{{ '{{{end template}}}' }}

</includeonly>
