<div class="wiki-card{% block classes %}{% endblock %}">
{% block image %}{% endblock %}
<div class="wiki-card-body">
{% block title %}{% endblock %}
{% block meta %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</div>
</div>
